<template>
  <aside class="task-widget__filter">
    <form action="" class="task-widget__form" method="GET">
      <h2 class="task-widget__form-title">Фильтры</h2>
      <div class="task-widget__form-block">
        <h3 class="task-widget__form-subtitle">ID</h3>
        <input
          type="text"
          class="task-widget__form-input"
          placeholder="Введите значение"
          maxlength="5"
          readonly
          v-model="cardSetting.id"
        />
      </div>
      <div class="task-widget__form-block">
        <h3 class="task-widget__form-subtitle">Номер накладной</h3>
        <input
          type="text"
          class="task-widget__form-input"
          placeholder="Введите значение"
          value="12"
          v-model="cardSetting.number"
        />
      </div>
      <div class="task-widget__form-block">
        <h3 class="task-widget__form-subtitle">Время прибытия на выгрузку</h3>
        <div class="task-widget__form-date">
          <label for="">
            <span>c</span>
            <span class="task-widget__date-wrapper">
              <input
                type="text"
                class="task-widget__form-input"
                maxlength="10"
                v-model="cardSetting.from"
              />
              <!-- <img src="../../files/icons/calendar.svg" alt="icon-calendar"> -->
            </span>
          </label>
          <label for="">
            <span>по</span>
            <span class="task-widget__date-wrapper">
              <input
                type="text"
                class="task-widget__form-input"
                maxlength="10"
                v-model="cardSetting.to"
              />
              <!--  <img src="../../files/icons/calendar.svg" alt="icon-calendar"> -->
            </span>
          </label>
        </div>
      </div>
      <div class="task-widget__form-block">
        <h3 class="task-widget__form-subtitle">Тип заказа</h3>
        <ul class="task-widget__header-sorting"
          v-bind:class="{active: activeTypeList}"
          v-on:click="toggleTypeList"
        >
          <cardCreatorType
            v-for="typeItem in typeList"
            :option="typeItem"
            :key="typeItem.id"
            v-on:moveup="moveType(typeItem)"
          />
          <span
            class="arrow-bottom"
            style="background-image: url('../../files/icons/icon_arrow.svg');"
          ></span>
        </ul>
      </div>
    </form>
  </aside>
</template>

<script>
import cardCreatorType from './cardCreatorType.vue';

export default {
  components: {
    cardCreatorType,
  },
  data() {
    return {
      activeTypeList: false,
      typeList: [
        { id: 0, type: 'RUED' },
        { id: 1, type: 'RUEX' },
        { id: 2, type: 'RUSG' },
      ],
    };
  },
  computed: {
    cardSetting() {
      return this.$store.state.newNoteOpptions;
    },
  },
  mounted() {
    this.$store.state.newNoteOpptions.type = this.typeList[0].type;
  },
  methods: {
    toggleTypeList() {
      this.activeTypeList = !this.activeTypeList;
    },
    moveType(typeItem) {
      if (!this.activeTypeList) return;
      const type = this.typeList.filter((item) => item === typeItem);
      this.typeList = this.typeList.filter((item) => item !== typeItem);

      this.typeList.unshift(...type);
      this.$store.state.newNoteOpptions.type = this.typeList[0].type;
    },
  },
};
</script>
