<template>
    <tr :draggable="note.drag"
        v-on:dragstart="onDragStart($event, note.id)"
        @dragover="onDragOver($event)"
        @drop="onDrop($event, note.id)"
    >
        <td>{{note.id}}</td>
        <td>{{note.number}}</td>
        <td>{{note.date}}</td>
        <td>{{note.type}}</td>
        <td>
            <button v-on:click="redactItem(note.id)">R</button>
        </td>
        <td>
            <button v-on:click="deleteItem(note.id)">X</button>
        </td>
    </tr>
</template>

<script>
export default {
  name: 'TableItem',
  props: ['note'],
  computed: {
    notesList() {
      return this.$store.state.notes;
    },
  },
  methods: {
    redactItem(id) {
      this.$store.commit('REDACT_MODE', id);
    },
    deleteItem(id) {
      this.$store.commit('REMOVE_CARD', id);
    },
    onDragStart(event, id) {
      event.dataTransfer.setData('text/plain', id);
    },
    onDragOver(event) {
      event.preventDefault();
    },
    onDrop(event, id) {
      const movedElementId = event.dataTransfer.getData('text/plain');
      const beforePasteElement = id;
      this.$store.commit('DRAG_CARD', [movedElementId, beforePasteElement]);
    },
  },
};
</script>

<style scoped lang="scss">
    * {
        box-sizing: border-box;
    }
    td {
        border-collapse: collapse;
        border-right: 1px solid grey;
    }
    tr {
        border-bottom: 1px solid grey;
    }
    .type {
        max-width: 30%;
    }
    button {
        width: 100%;
        padding: 7px 10px;
        border: none;
        background-color: transparent;
        color: rgb(15, 235, 8);
        cursor: pointer;
        outline: none;
    }
    button:hover {
        background-color: rgb(75, 75, 75);
    }
</style>
