<template>
    <tr class="task-widget__item-table" :draggable="item.drag"
        v-on:dragstart="onDragStart($event, item.id)"
        @dragover="onDragOver($event)"
        @drop="onDrop($event, item.id)"
    >
        <td>{{item.id}}</td>
        <td>{{item.number}}</td>
        <td>{{item.type}}</td>
        <td>{{item.date}}</td>
        <td>
            <div class="task-widget__item-wrapper">
                <ul class="task-widget__item-options">
                    <div class="task-widget__options-icon">
                        <img class="icon-menu" src="files/icons/menu.png" alt="icon-menu">
                    </div>
                    <ul class="task-widget__item-list table">
                        <li v-on:click="redactItem(item.id)">
                <span class="icon"><img src="files/icons/edit.png" alt="icon-edit"></span>
                            <span class="description"></span>
                        </li>
                        <li v-on:click="deleteCard(item.id)">
                <span class="icon"><img src="files/icons/close.png" alt="icon-delete"></span>
                            <span class="description"></span>
                        </li>
                    </ul>
                </ul>
            </div>
        </td>
    </tr>
</template>

<script>
export default {
  props: ['item'],
  methods: {
    redactItem(id) {
      this.$store.commit('REDACT_MODE', id);
    },
    deleteCard(id) {
      this.$store.commit('REMOVE_CARD', id);
    },
    onDragStart(event, id) {
      event.dataTransfer.setData('text/plain', id);
    },
    onDragOver(event) {
      event.preventDefault();
    },
    onDrop(event, id) {
      const movedElementId = event.dataTransfer.getData('text/plain');
      const beforePasteElement = id;
      this.$store.commit('DRAG_CARD', [movedElementId, beforePasteElement]);
    },
  },
};
</script>

<style>

</style>
