<template>
  <div class="home">
    <note />
  </div>
</template>

<script>
import note from '@/components/note.vue';
import store from '../store/index';

export default {
  name: 'Home',
  store,
  components: {
    note,
  },
};
</script>
