<template>
  <div class="about">
    <tableNormal />
  </div>
</template>

<script>
import tableNormal from '@/components/tableNormal.vue';
import store from '../store/index';

export default {
  name: 'TableNormal',
  store,
  components: {
    tableNormal,
  },
};
</script>
