<template>
  <div class="about">
    <tableComponent />
  </div>
</template>

<script>
import table from '@/components/table.vue';
import store from '../store/index';

export default {
  name: 'Table',
  store,
  components: {
    tableComponent: table,
  },
};
</script>
