<template>
    <section class="task-widget">
        <div class="container">
            <div class="row">
                <CardCreatorOption/>
                <div class="task-widget__body">
                    <FilterOptions/>
                    <ul class="task-widget__body-list">
                        <template v-for="note in notesList">
                          <CardItem v-if="!note.redactMode" :item="note" :key="note.id"/>
                          <CardItemRedacted v-else :item="note" :key="note.id"/>
                        </template>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import CardCreatorOption from './note/card_creator/cardCreatorOption.vue';
import FilterOptions from './note/filter-options/filterOptions.vue';
import CardItem from './note/card-item/cardItem.vue';
import CardItemRedacted from './note/card-item/cardItemRedacted.vue';

export default {
  name: 'note',
  components: {
    CardCreatorOption,
    FilterOptions,
    CardItem,
    CardItemRedacted,
  },
  computed: {
    notesList() {
      return this.$store.state.notes;
    },
  },
};
</script>

<style lang="scss">
  @import "../scss/main.scss";
</style>
