<template>
        <section class="task-widget">
        <div class="container">
            <div class="row">
                <CardCreatorOption/>
                <div class="task-widget__body">
                    <FilterOptions/>
                    <table class="task-widget__body-list-table">
                        <tr class="task-widget__list-head">
                            <th>ID</th>
                            <th>Номер<br>накладной</th>
                            <th>Тип заказа</th>
                            <th>Дата<br>создания</th>
                            <th><img src="files/icons/menu.png" alt="icon-delete"></th>
                        </tr>
                        <template v-for="note in notesList">
                          <CardItem v-if="!note.redactMode" :item="note" :key="note.id"/>
                          <CardItemRedacted v-else :item="note" :key="note.id"/>
                        </template>
                    </table>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import CardCreatorOption from './note/card_creator/cardCreatorOption.vue';
import FilterOptions from './note/filter-options/filterOptions.vue';
import CardItem from './tableNormal/cards/cardItem.vue';
import CardItemRedacted from './tableNormal/cards/cardItemRedacted.vue';

export default {
  name: 'TableNormal',
  components: {
    CardCreatorOption, FilterOptions, CardItem, CardItemRedacted,
  },
  computed: {
    notesList() {
      return this.$store.state.notes;
    },
  },
};
</script>

<style lang="scss">
    * {
        box-sizing: border-box;
    }
    * {
        box-sizing: border-box;
    }
    .task-widget__body-list-table {
        width: 100%;
        margin: 0 auto;
    }
  .task-widget__list-head {
      width: 100%;
      background: #FFFFFF;
      th {
          padding: 20px 0;
          background: #cecece;
          border-collapse: collapse;
      }
  }
  .task-widget__item-table {
      padding: 0;
      width: 100%;
      background: #FFFFFF;
      border-bottom: 1px solid #E6E6E6;
  }
  .task-widget__item-table td {
      padding: 15px 0;
      input {
        width: 10vw;
      }
  }
  .task-widget__item-options:hover .task-widget__item-list.table{
    right: -10%;
    top: -50%;
    padding: 0;
      li {
        margin: 5px 0;
        .icon {
            margin: 0;
        }
      }
  }
</style>
