<template>
    <section class="table-widget">
        <TableCardCreator/>
        <TableFilter/>
        <TableList/>
    </section>
</template>

<script>
import TableCardCreator from './table/tableCardCreator.vue';
import TableFilter from './table/tableFilter.vue';
import TableList from './table/tableList.vue';

export default {
  name: 'Table',
  components: { TableCardCreator, TableFilter, TableList },
};
</script>

<style scoped>
    * {
        box-sizing: border-box;
    }

    .table-widget {
        min-height: 60vh;
        padding: 30px 0;
        color: rgb(15, 235, 8);
        background-color: black;
    }
</style>
