<template>
    <form>
        <label for="id">
            <h4>ID</h4>
            <input id="id" type="text" placeholder="Введите значение" maxlength="5" readonly
                v-model="newNoteOptions.id"
            >
        </label>
        <label for="number">
            <h4>Номер накладной</h4>
            <input id="number" type="text" placeholder="Введите значение" maxlength="12"
                v-model="newNoteOptions.number"
            >
        </label>
        <label for="from">
            <h4>c</h4>
            <input id="from" type="text" placeholder="Введите значение" maxlength="12"
                v-model="newNoteOptions.from"
            >
        </label>
        <label for="to">
            <h4>по</h4>
            <input id="to" type="text" placeholder="Введите значение" maxlength="12"
                v-model="newNoteOptions.to"
            >
        </label>
        <label for="type">
            <h4>Тип заказа</h4>
            <select v-model="newNoteOptions.type">
                <option v-for="option in typeList" :key="option.id"
                :value="option.type">
                    {{option.type}}
                </option>
            </select>
        </label>
        <label class="no-border">
            <button v-on:click="createComponent">Создать компонент</button>
        </label>
    </form>
</template>

<script>
import { ADD_CARD } from '../../store/mutation-types';

export default ({
  data() {
    return {
      typeList: [
        { id: 0, type: 'RUED' },
        { id: 1, type: 'RUEX' },
        { id: 2, type: 'RUSG' },
      ],
    };
  },
  computed: {
    newNoteOptions() {
      return this.$store.state.newNoteOpptions;
    },
  },
  methods: {
    createComponent() {
      this.$store.commit(ADD_CARD, this.newNoteOpptions);
    },
  },
});
</script>

<style scoped>
    * {
        box-sizing: border-box;
    }
    form {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 10px;
        margin: 0 auto 20px auto;
        width: 95%;
        border: 1px solid grey;
    }
    form label{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 45%;
        margin: 5px 10px;
        border-bottom: 1px solid grey;
    }
    form label h4{
        margin-right: 10px;
    }
    form label input, form label select, form label option, form label button {
        padding: 5px;
        width: 20vw;
        background-color: rgb(84, 90, 85);
        color:  rgb(15, 235, 8);
    }
    form label input::placeholder, form label select::placeholder,
    form label option::placeholder, form label option:disabled {
        color:  rgb(15, 235, 8);
    }
    .no-border {
        display: flex;
        justify-content: center;
        border: none;
        cursor: pointer;
    }
    button {
        cursor: pointer;
    }
</style>
