<template>
    <div>
        <table>
            <tr>
                <th>id</th>
                <th>Накладная №</th>
                <th>Дата создания</th>
                <th>Тип</th>
                <th>Режим<br>редактирования</th>
                <th>Удалить</th>
            </tr>
            <template v-for="note in notesList">
                <TableItem v-if="!note.redactMode" :note="note" :key="note.id"/>
                <TableItemRedacted v-else :note="note" :key="note.id"/>
            </template>
        </table>
    </div>
</template>

<script>
import TableItem from './tableListItem/tableItem.vue';
import TableItemRedacted from './tableListItem/tableItemRedacted.vue';

export default {
  name: 'TableList',
  components: { TableItem, TableItemRedacted },
  computed: {
    notesList() {
      return this.$store.state.notes;
    },
  },
};
</script>

<style scoped lang="scss">
    * {
        box-sizing: border-box;
    }
    table {
        margin: 0 auto;
        width: 95%;
        margin-top: 20px;
        border: 1px solid grey;
    }
    table, th, td {
        border-collapse: collapse;
    }
    th, td {
        border-right: 1px solid grey;
    }
    tr {
        border-bottom: 1px solid grey;
    }
    th {
        padding: 15px 20px;
        background-color: rgb(56, 55, 55);
        @media (max-width: 1100px) {
            padding: 15px 0px;
        }
    }
    td input {
        max-width: 70%;
    }
    .type {
        max-width: 30%;
    }
    button {
        width: 100%;
        padding: 7px 10px;
        border: none;
        background-color: transparent;
        color: rgb(15, 235, 8);
        cursor: pointer;
        outline: none;
    }
    button:hover {
        background-color: rgb(75, 75, 75);
    }
</style>
