<template>
    <form>
        <label for="filter">
            <span>Сортировать по:</span>
            <select v-on:change="sort(sortParams)" v-model="sortParams">
                <option v-for="option in filterOptions" :key="option.id" :value="option.id">
                    {{option.property}}: {{option.direction}}
                </option>
            </select>
        </label>
        <label for="hold">
            <span>Включить перетаскивание</span>
            <input type="checkbox" id="hold"
            v-on:change="toggleDrag" ref="dragStatus">
        </label>
    </form>
</template>

<script>
export default ({
  data() {
    return {
      sortParams: {},
    };
  },
  computed: {
    filterOptions() {
      return this.$store.state.sortOptions;
    },
    dragDropStatus() {
      return this.$store.state.dragStatus;
    },
  },
  mounted() {
    const dragStatus = this.$refs.dragStatus.checked;
    this.$store.commit('TOGGLE_DRAG', dragStatus);
  },
  methods: {
    sort(id) {
      this.$store.commit('SORT_CARD', id);
    },
    toggleDrag() {
      const dragStatus = this.$refs.dragStatus.checked;
      this.$store.commit('TOGGLE_DRAG', dragStatus);
    },
  },
});
</script>

<style scoped>
    * {
        box-sizing: border-box;
    }
    form {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 10px;
        margin: 0 auto;
        width: 95%;
        border: 1px solid grey;
    }
    form label {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        width: 48%;
        overflow: hidden;
    }
    form label span {
        margin-right: 20px;
    }
    form label input[type='checkbox'] {
        width: 15px;
        height: 15px;
        filter: hue-rotate(260deg);
    }
    form label input, form label select, form label option, form label button {
        padding: 5px;
        background-color: rgb(84, 90, 85);
        color:  rgb(15, 235, 8);
    }
    form label input::placeholder, form label select::placeholder,
    form label option::placeholder, form label option:disabled {
        color:  rgb(15, 235, 8);
    }
    form label select {
      width: fit-content;
    }
</style>
