<template>
  <div id="app">
    <div id="nav">
      <div class="container">
        <div class="wrapper">
          <router-link to="/">Нормальный</router-link>
          <span>|</span>
          <router-link to="/tableNormal">Табличный</router-link>
          <span>|</span>
          <router-link to="/table">Минимализм</router-link>
        </div>
      </div>
    </div>
    <router-view/>
  </div>
</template>

<style lang="scss">
#app {
  position: relative;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  position: relative;
  display: flex;
  width: 100%;
  margin: 0 auto;
  .container {
    position: absolute;
    display: flex;
    top: -55px;
    left: 50%;
    margin-top: 0px;
    transform: translate(-50%,-50%);
    @media (max-width: 576px) {
      top: -25px;
    }

    .wrapper {
      display: flex;
      border-radius: 7px;
      border: 2px solid #FFF;
    }
  }

  span {
    padding: 10px 0;
    color: #FFF;
  }
  a {
    display: block;
    padding: 10px;
    font-weight: bold;
    color: #8c92ec;
    text-decoration: none;
    border-radius: 7px;
    transition: 0.2s;

    &.router-link-exact-active {
      color: #FFF;
      background-color: rgba(159, 12, 162, 0.05);
      backdrop-filter: blur(15px);
    }
  }
}
</style>
