.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  @media (min-width: $phone) {
    .container{
      max-width: 540px;
    }
  }
  
  @media (min-width: $small_tablet) {
    .container{
      max-width: 720px;
    }
  }
  
  @media (min-width: $tablet) {
    .container{
      max-width: 960px;
    }
  }
  
  @media (min-width: $pc) {
    .container{
      max-width: 1140px;
    }
  }
  
  @media (min-width: $pc-big) {
    .container{
      max-width: 1400px;
    }
  }
  
  @media (min-width: 2100px) {
    .container{
      max-width: 2000px;
    }
  }