/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Выставляем основные настройки по-умолчанию для body */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1; 
}
.body {
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    max-width: 2000px;
}
  
  /* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.main {

}

.task-widget {
    padding: 30px 0 130px 0;
    font-family: "Roboto", sans-serif;
    background: #E5E5E5;
}

.task-widget {
    & ul, li {
        list-style: none;
    }
}

.task-widget .container .row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    @media (max-width: $tablet) {
        flex-direction: column;
    }
}

// task-widget__filter //

.task-widget__filter {
    padding: 20px 30px;
    width: 24%;
    height: fit-content;

    background: #FFFFFF;
    filter: drop-shadow(0px 4px 8px rgba(178, 178, 178, 0.25));
    @media (max-width: $tablet) {
        margin-bottom: 20px;
        width: 100%;
        z-index: 2;
    }
}

.task-widget__form {
    font-size: 14px;
    @include darkColor;

    @media (max-width: $tablet) {
        font-size: 12px;
    }
}

.task-widget__form-title {
    margin-bottom: 1.27em;

    font-size: 1.15em;
    font-weight: bold;
}

.task-widget__form-block {
    position: relative;
    margin-bottom: 1.2em;
}

.task-widget__form-block .task-widget__header-sorting {
    margin: 0;
}

.task-widget__form-subtitle {
    margin-bottom: 0.87em;

    font-size: 1em;
    font-weight: 500;
}

.task-widget__form-input {
    @include widgetFormElement;
}

.task-widget__form-block {
    
    & select, option {
        @include widgetFormElement;
    }
    & slot {
        @include widgetFormElement;
        border-bottom: 1px solid red; 
    }
    & option {
        @include widgetFormElement;
    }
}

.task-widget__form-date {
    display: flex;
    justify-content: space-between;

    & label {
        display: flex;
        align-items: center;
        width: 48%;
        font-weight: 400;
    }
    & .task-widget__form-input {
        //width: 60%;
    }
}

.task-widget__date-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
    & img {
        position: absolute;
        top: 50%;
        right: 5px;
        transform: translateY(-50%);
    }
    & .task-widget__form-input {
        padding-right: 20px;
    }
}
// /task-widget__filter //

// task-widget__body //

.task-widget__body {
    display: flex;
    flex-direction: column;
    width: 74%;

    @include darkColor;

    @media (max-width: $tablet) {
        width: 100%;
    }
}

.task-widget__body-header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 0 0 20px 0;

    font-size: 12px;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px #E7E7E7;
    border-radius: 3px;
    z-index: 1;
}

.task-widget__header-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.task-widget__header-sorting {
    position: relative;
    margin: 0 22px 0 0;
    padding: 0;
    height: 2.3em;
    overflow: hidden;
    cursor: pointer;
    z-index: 6;
    &[data-filter="order-filter"] {
        height: 2.7em;
    }
    &[data-filter="order-filter"] > li:nth-child(1) {
        font-weight: bold;
        font-size: 1.3em;
    }
    & li {
        width: 100%;
        @include widgetFormElement;
        border-radius: 0;
    }

    &.active {
        overflow: visible;
    }
}

.task-widget__header-sorting.active .arrow-bottom {
    position: absolute;
    top: 10px;
    right: 5px;
    width: 10px;
    height: 10px;

    transform: translateX(-3px) rotate(-90deg);
}


.task-widget__header-sorting .arrow-bottom {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 10px;
    height: 10px;

    @include transitionBase;
}

.task-widget__drag-drop{
    display: flex;
    align-items: center;
    padding: 8px 0 8px 8px;

    font-weight: 400;
    font-size: 1em;
}

.task-widget__drag-drop input[type="checkbox"] {
        position: absolute;
        opacity: 0;
        max-width: 0;
        max-height: 0;
        &:checked ~ .fake-checkbox img {
            display: block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);

            z-index: 5;
        }
}

.task-widget__drag-drop .fake-checkbox{
    position: relative;
    display: block;
    min-width: 10px;
    width: 10px;
    height: 10px;
    margin-right: 10px;

    border: 1px solid #2B2839;
    border-radius: 3px;
    & img {
        display: none;
    }
}

.task-widget__header-add {
     @include widgetFormElement;
     width: fit-content;
     height: fit-content;

     font-size: 1.17em;
     cursor: pointer;
}

.task-widget__body-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    width: 100%;
    justify-content: space-between;
    @media (max-width: 480px) {
        justify-content: center;
    }
}

// /task-widget__body //